/*-------------------all-------------------*/
body {
    animation-name: fade;
    animation-duration: 5s;
    background-color: var(--background-gray);
    color: var(--text-white);
    font-family: "Optima", sans-serif;
}
nav {
    color: var(--text-white);
    text-align: center;
}
a {
    margin: 0.5vw;
}
a:link {
    color: var(--text-white);
}
a:visited {
    color: rgb(216, 216, 0);
}
a:hover {
    color: rgb(0, 255, 255);
}
.main-heading {
    padding-top: 5vh;
    font-size: 20px;
    text-align: center;
}
footer {
    color: var(--text-white);
    text-align: center;
}
/*-------------------main-------------------*/
#headshot {
    border-style: none;
    border-radius: 50px;
    float: left;
    padding: 25px;
    width: 25%;
}
#welcome {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 15px;
    text-align: justify;
}
.social-media {
    cursor: pointer;
    padding-top: 3vh;
    margin: 5vw;
    width: 10vw;
}
.social-media:hover {
    animation: shake 1.5s ease-in 0s infinite;
}
/*-------------------bio-------------------*/
#bio {
    line-height: 1.5;
    padding: 10vw;
    text-align: justify;
}
.slideshow {
    max-width: 750px;
    position: relative;
    margin: auto;
}

.slides {
    text-align: center;
    user-select: none;
}

.slides img {
    animation: fade 1.5s;
    padding: 15px;
    height: 30vh;
    width: auto;
}

#prev-btn, #next-btn {
    border-style: none;
    border-radius: 0 3px 3px 0;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: -22px;
    padding: 16px;
    position: absolute;
    top: 50%;
    transition: 1s ease;
    user-select: none;
    width: auto;
}
#prev-btn:hover, #next-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
#next-btn {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/*-------------------resume-------------------*/
#top-container {
    display: flex;
    justify-content: space-evenly;
}

#top-left-btn, #top-right-btn, #bottom-left-btn, #bottom-right-btn {
    background-color: var(--container-background-gray);
    border-style: solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    margin: 3vw;
    width: 30vw;
    text-align: center;
}

#middle-container {
    background-color: var(--container-background-gray);
    border-style: solid;
    border-radius: 20px;
    line-height: 2.5;
    margin: 3vw;
    padding: 3vw 5vw;
    text-align: center;
}

#middle-container:hover, #top-left-btn:hover, #top-right-btn:hover, #bottom-left-btn:hover, #bottom-right-btn:hover {
    background-color: var(--button-hover-yellow);
    color: var(--text-black);
    box-shadow: 5px 5px var(--box-shadow-yellow);
    cursor: pointer;
}

#bottom-container {
    display: flex;
    justify-content: space-evenly;
}

#all-modals {
    animation: modal-zoom-out 0.5s ease-in 0s 1;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid white;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    line-height: 2;
    margin: 5vw;
    overflow: auto;
    padding: 5vw;
    position: fixed;
    text-align: justify;
    top: 0;
    width: 75%;
    height: 75%;
    z-index: 1;
}

#bottom-left-modal, #bottom-right-modal {
    text-align: center;
}

#bottom-left-modal div {
    border: 1px solid white;
    text-align: center;
}

#bottom-left-modal div p {
    box-sizing: border-box;
    margin: 10px 30px;
    width: auto;
    text-align: center;
}

#bottom-left-modal div img, #bottom-right-modal div img {
    border: 1px solid white;
    border-radius: 15px;
    margin: 20px;
    height: 30vw;
    width: auto;
}

#bottom-left-modal div img:hover, #bottom-right-modal div img:hover {
    transform: scale(1.5);
}
#modal-close-btn {
    background-color: var(--container-background-gray);
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin: 5vw 0 5vw 30vw;
    text-align: center;
    width: 15%;
}
#modal-close-btn:hover {
    background-color: var(--button-hover-yellow);
    color: var(--text-black);
    box-shadow: 5px 5px var(--box-shadow-yellow);
    cursor: pointer;
}
/*-------------------projects-------------------*/
#projects-container {
    display: flex;
    justify-content: space-evenly;
}
.projects {
    border: 1px solid var(--text-white);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin: 5vw 5vw;
    padding: 2vw;
    height: 25vw;
    width: 25vw;
}
.projects:hover {
    border-color: var(--button-hover-yellow);
    color: var(--button-hover-yellow);
    transform: scale(1.5);
}
#tic-tac-toe {
    background-image: url('projects/tic-tac-toe.jpg');
    background-size: 100% 100%;
}
#hangman {
    background-image: url('projects/hangman.png');
    background-size: 100% 100%;
}
.projects p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
/*-------------------contact me-------------------*/
#submittable {
    margin: 0 0 0 5vw;
}
#submittable div {
    margin: 2vh 0 5vh 0;
}
h3 {
    padding: 3vh;
}
#first-name, #last-name, #phone, #email, #inquiry {
    margin: 0 0 20px 0;
    width: 75%;
}
#inquiry {
    height: 200px;
}
label {
    padding: 2px;
}
label span {
    color: rgb(147, 58, 58);
    font-size: 20px;
}
#submit-btn {
    background-color: var(--container-background-gray);
    border-style: solid;
    border-radius: 10px;
    color: var(--text-white);
    padding: 5px;
    text-align: center;
    width: 55px;
}
#submit-btn:hover {
    background-color: var(--button-hover-yellow);
    color: var(--text-black);
    cursor: pointer;
}
#submit-area {
    text-align: center;
}
/*-------------------vars & keyframes-------------------*/
:root {
    --background-gray: rgb(36, 36, 36);
    --button-hover-yellow: rgb(192, 192, 36);
    --container-background-gray: rgb(120, 120, 120);
    --box-shadow-yellow: rgb(128, 128, 36);
    --text-white: rgb(216, 216, 216);
    --text-black: rgb(32, 32, 32);
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 100}
}
@keyframes shake {
    0% {transform: translateY(-2vh);}
    25% {transform: translateY(0vh);}
    50% {transform: translateY(-1vh);}
    75% {transform: translateY(0vh);}
    100% {transform: translateY(-0.5vh);}
}
@keyframes modal-zoom-out {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
/*-------------------media queries-------------------*/
@media screen and (min-width: 600px) {
    nav {font-size: 12px;}
    .main-heading {font-size: 18px;}
    #welcome {font-size: 12px; line-height: 1;}
    #bio {font-size: 14px;}
}