/*-------------------CSS media queries-------------------*/
@media screen and (min-width: 1080px) {
    #main-heading {font-size: 36px;}
    #welcome {font-size: 30px;}
}

/*-------------------CSS for all pages-------------------*/
body {
    animation-name: fade;
    animation-duration: 5s;
    background-color: var(--background-gray);
    color: var(--text-white);
    font-family: Luminari, fantasy;
}

nav {
    color: var(--text-white);
    text-align: center;
}

a {
    margin: 3vw;
}

a:link {
    color: var(--text-white);
}

a:visited {
    color: rgb(216, 216, 0);
}

a:hover {
    color: rgb(0, 255, 255);
}

.main-heading {
    padding-top: 10vh;
    text-align: center;
}

footer {
    color: var(--text-white);
    text-align: center;
}

/*-------------------CSS for main page-------------------*/
#headshot {
    border-style: none;
    border-radius: 50px;
    float: left;
    padding: 25px;
    width: 25%;
}

#welcome {
    display: flex;
    align-items: center;
    line-height: 2.5;
}

.social-media {
    cursor: pointer;
    padding-top: 10vh;
    margin: 5vw;
    width: 5vw;
}

.social-media:hover {
    animation: shake 1.5s ease-in 0s infinite;

}

/*-------------------CSS for bio page-------------------*/
#bio {
    line-height: 2.5;
    padding: 10vw;
    text-align: justify;
}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides {
    text-align: center;
    user-select: none;
}

.slides img {
    padding: 25px;
    width: 50%;
}

#prev-btn, #next-btn {
    border-style: none;
    border-radius: 0 3px 3px 0;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: -22px;
    padding: 16px;
    position: absolute;
    top: 50%;
    transition: 0.6s ease;
    user-select: none;
    width: auto;
}

#prev-btn:hover, #next-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#next-btn {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*-------------------CSS for resume page-------------------*/
#top-container {
    display: flex;
    justify-content: space-evenly;
}

#top-left-btn, #top-right-btn, #bottom-left-btn, #bottom-right-btn {
    background-color: var(--container-background-gray);
    border-style: solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    margin: 3vw;
    width: 30vw;
    text-align: center;
}

#middle-container {
    background-color: var(--container-background-gray);
    border-style: solid;
    border-radius: 20px;
    line-height: 2.5;
    margin: 3vw;
    padding: 3vw 20vw;
    text-align: center;
}

#middle-container:hover, #top-left-btn:hover, #top-right-btn:hover, #bottom-left-btn:hover, #bottom-right-btn:hover {
    background-color: var(--button-hover-yellow);
    color: var(--text-black);
    box-shadow: 5px 5px var(--box-shadow-yellow);
    cursor: pointer;
}

#bottom-container {
    display: flex;
    justify-content: space-evenly;
}

#all-modals {
    animation: modal-zoom-out 0.5s ease-in 0s 1;
    border: 1px solid white;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    left: 0;
    top: 0;
    line-height: 2.5;
    position: fixed;
    width: 75%;
    height: 75%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5vw;
    margin: 5vw;
    z-index: 1;
}

#top-left-modal, #top-right-modal, #middle-modal, #bottom-left-modal, #bottom-right-modal {
    display: none;
    text-align: center;
}

#bottom-left-modal div {
    border: 1px solid white;
    text-align: center;
}

#bottom-left-modal div p {
    box-sizing: border-box;
    margin: 10px 30px;
    width: auto;
    text-align: center;
}

#bottom-left-modal div img, #bottom-right-modal div img {
    border: 1px solid white;
    border-radius: 15px;
    margin: 20px;
    height: 20vw;
    width: auto;
}

#bottom-left-modal div img:hover, #bottom-right-modal div img:hover {
    transform: scale(2);
}

#modal-close-btn {
    background-color: var(--container-background-gray);
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin: 5vw 0 5vw 30vw;
    text-align: center;
    width: 15%;
}

#modal-close-btn:hover {
    background-color: var(--button-hover-yellow);
    color: var(--text-black);
    box-shadow: 5px 5px var(--box-shadow-yellow);
    cursor: pointer;
}

/*-------------------CSS for projects page-------------------*/
#projects-container {
    display: flex;
    justify-content: space-evenly;
}

.projects {
    border: 1px solid var(--text-white);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vw;
    padding: 5vw;
    height: 15vw;
    width: 15vw;
}

.projects:hover {
    border-color: var(--button-hover-yellow);
    color: var(--button-hover-yellow);
    transform: scale(1.5);
}

#tic-tac-toe {
    background-image: url('projects/tic-tac-toe.jpg');
    background-size: 100% 100%;
}

#hangman {
    background-image: url('projects/hangman.png');
    background-size: 100% 100%;
}

p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

/*-------------------CSS vars and keyframes-------------------*/
:root {
    --background-gray: rgb(36, 36, 36);
    --button-hover-yellow: rgb(192, 192, 36);
    --container-background-gray: rgb(120, 120, 120);
    --box-shadow-yellow: rgb(128, 128, 36);
    --text-white: rgb(216, 216, 216);
    --text-black: rgb(32, 32, 32);
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 100}
}

@keyframes shake {
    0% {transform: translateY(-2vh);}
    25% {transform: translateY(0vh);}
    50% {transform: translateY(-1vh);}
    75% {transform: translateY(0vh);}
    100% {transform: translateY(-0.5vh);}
}

@keyframes modal-zoom-out {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}