body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

#gameboard {
    border-style: solid;
    border-color: white;
    text-align: center;
    height: 600px; /*keep absolute unit here*/
    width: 600px; /*keep absolute unit here*/
}

p, th {
    text-align: center;
}

tr {
    border-style: solid;
    border-color: white;
    height: 200px; /*keep absolute unit here*/
}

td {
    border-style: solid;
    border-color: white;
    cursor: pointer;
    height: 200px; /*keep absolute unit here*/
    width: 200px; /*keep absolute unit here*/
}

td:hover {
    background-color: var(--hover-green);
}

img {
    width: 150px; /*keep absolute unit here*/
}

#welcome-modal, #name-modal, #first-play-modal, #ox-modal, #play-again-modal {
    background-color: var(--modal-gray);
    border: 5px solid var(--modal-text-white);
    border-radius: 20px;
    color: var(--modal-text-white);
    display: none;
    font-family: 'Chalkduster', 'fantasy';
    margin: 25vh;
    padding: 2vh;
    text-align: center;
}

#ox-modal { /* only modal slightly different */
    margin: 15vh 0;
}

#the-game {
    display: none;
    padding: 20vh;
    text-align: center;
}

.move-choice {
    background-color: var(--button-gray);
    border-style: solid;
    border-color: white;
    border-radius: 20%;
    border-width: 2px;
    cursor: pointer;
    margin: 5vw;
}

footer {
    display: flex;
    gap: 15px;
    margin: 5vw;
}

button, #submit-btn {
    background-color: var(--button-gray);
    border-style: solid;
    border-color: white;
    border-radius: 2vh;
    color: white;
    cursor: pointer;
    padding: 10px;
}

button:hover, #submit-btn:hover, .move-choice:hover {
    background-color: var(--hover-green);
}

.light-mode {
    background-color: white;
    color: black;
}
.light-mode #gameboard, .light-mode tr, .light-mode td {
    border-color: black;
}

:root {
    --button-gray: rgba(100,100,100);
    --modal-gray: rgb(150,150,150);
    --modal-text-white: rgb(240,240,240);
    --hover-green: rgb(0,175,0);
}