body {
    background-color: var(--background-black);
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Optima", sans-serif;
    text-align: center;
}

.light-mode {
    background-color: var(--text-white);
}

.light-mode table {
    border: 1px solid var(--background-black);
}

#welcome-modal {
    background-color: gray;
    border: 1px solid var(--text-white);
    border-radius: 10px;
    margin: 20px;
    padding: 10px 25px;
}

#msg-board, #stats {
    background-color: gray;
    border: 1px solid var(--text-white);
    border-radius: 10px;
    margin: 10px;
    padding: 5px 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#stats {
    display: flex;
    justify-content: space-around;
    margin: 10px 20px;
    padding: 2px;
    top: 50px;
}

#stats div {
    background-color: rgb(80, 80, 80);
    border: 1px solid var(--text-white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px 5px 0 5px;
}

button {
    border: 1px solid var(--text-white);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

button:hover {
    background-color: var(--background-yellow);
    cursor: pointer;
    box-shadow: 5px 5px;
}

#the-game {
    display: none;
    flex-direction: column;
    align-items: center;
}

table {
    border: 1px solid var(--text-white);
    border-radius: 20px;
    width: 90vw;
}

tr {
    text-align: center;
    height: 70px;
}

td {
    padding: 3px;
}

img {
    border: 1px solid var(--text-white);
    border-radius: 10px;
    width: 35px;
}

.front-side {
    display: none;
    position: relative;
}

.back-side:hover {
    cursor: pointer;
    transform: scale(1.25);
}

:root {
    --background-black: rgb(52, 52, 52);
    --background-yellow: rgb(171, 171, 0);
    --text-white: rgb(225, 225, 225);
}

@media screen and (min-width: 600px) {
    #welcome-modal {margin: 80px; padding: 10px 25px;}
    tr {height: 100px;}
    img {width: 60px;}
}

@media screen and (min-width: 1200px) {
    table {width: 60vw;}
}